.Modal {
  position: fixed;
  z-index: 200;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  top: 30%;
  left: 25%;
  width: 50%;
  transition: all 0.3s ease-out;
}

.ModalOpen {
  animation: openModal 0.4s ease-out forwards;
}

.ModalClosed {
  opacity: 0;
  transform: translateY(-100%);
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translatey(-100%);
  }
  50% {
    transform: translatey(20%);
  }
  100% {
    transform: translatey(0%);
  }
}
